footer.page-footer.deep-purple.darken-4
    .row
      a.col.s6(href="https://www.themoviedb.org", target="_blank")
        img.attribution(type="image/svg+xm", src="/images/powered-by-rectangle-green.svg", alt="Powered by TMDB")