.text-center
    h4.grey-text.text-darken-3 Do you love movies?  Do you love music?
    h5.grey-text.text-darken-2 Then you probably love the music that's #[em in] movies.
    p.flow-text So do I, and that's why I made this app.  At the top is a slideshow with the week's most popular movies.  Sign in with your Spotify account and you'll be presented with the original score for each movie.  Create a playlist, or access one you've already made, and add the tracks you want to hear.  Play your playlist right in the browser.  Don't recognize the movie?  Click on the image for a synopsis.