.navbar-fixed
    nav
      .nav-wrapper.indigo.darken-4
        a(href="/").brand-logo Score
        a.button-collapse(href="#", data-activates="mobile")
          i.material-icons menu
        ul.right.hide-on-med-and-down
          li
            a(href="/about") About
          if user
            li
              a(href="#!", class="dropdown-button" data-activates="user-dropdown")
                span.nav-logged Logged in as
                  span.username  #{user.display_name || user.id}
                i.material-icons.right arrow_drop_down
          else
            li#login
              a(href="/connect/spotify") Login via Spotify
.tap-target(data-activates="login")
  .tap-target-content
    h5 Login to Spotify!
    p Use of this app requires that you're logged into Spotify
    p#dismiss [dismiss]

if user
    include ./userSignout.pug
