template#prev-button
    button.btn.btn-large.previous.indigo.darken-1(type='button')
        i.material-icons skip_previous
template#next-button
    button.btn.btn-large.next.indigo.darken-1(type='button')
        i.material-icons skip_next
template#playlist-widget
    ul.collection.with-header
      li.collection-header.indigo.darken-3.white-text.row
        span.col.s7 {{name}} by {{owner.id}}
        a(href='{{external_urls.spotify}}' target='_blank').spotify-link.col.s5.white-text 
          i.fa.fa-lg.fa-spotify &nbsp;
          | Open in Spotify
      | {{#if tracks.items }}
      | {{#each tracks.items}}
      li.collection-item.avatar
        a(href='{{track.album.external_urls.spotify}}' target='_blank')
          img(src='{{track.album.images.2.url}}' alt='Cover art for {{track.album.name}}').circle
        a(href='{{track.external_urls.spotify}}' target='_blank').black-text.title {{track.name}}
        br
        a(href='{{track.artists.0.external_urls.spotify}}' target='_blank').black-text {{track.artists.0.name}}
      | {{/each}}
      | {{else}}
      li.collection-item.playlist-empty Playlist empty
      | {{/if}}
template#option-template
    option(value='{{uri}}') {{name}}
template#album-template
    | {{#each albums}}
    li.collection-header.indigo.darken-2.white-text {{name}}
        | {{#each tracks}}
        li.collection-item.row(data-id='{{id}}')
            span.col.s10 {{track_number}} - {{name}}
            button.tooltipped.waves-effect.waves-teal.btn-flat.secondary-content.col.s2.add-to-list(type='button' data-uri='{{uri}}') +
        | {{/each}}
    | {{/each}}
template#progress-template
    li.collection-item
        .progress
            .indeterminate
template#empty-track-template
    li.collection-header There doesn't seem to be any albums for this movie
template#playlist-item-template
    li.collection-item.avatar
      a(href='{{track.album.external_urls.spotify}}' target='_blank')
        img(src='{{track.album.images.2.url}}' alt='Cover art for {{track.album.name}}').circle
      a(href='{{track.external_urls.spotify}}' target='_blank').black-text.title {{track.name}}
      br
      a(href='{{track.artists.1.external_urls.spotify}}' target='_blank').black-text {{track.artists.1.name}}
