extends layout

block content
  include includes/navbar.pug
  main.container
    .display.hidden
      include includes/coverflow.pug
    if user
      .row
        .col.m6.s12
          include includes/tracklist.pug
        .input-field.col.m6.s12
          include includes/playlist.pug
    else
      include includes/intro.pug
  include includes/footer.pug
  include includes/sidenav.pug
  include includes/modal.pug
  include includes/scripts.pug
  if user
    script(src="/js/full_script.js")
  else
    script(src="/js/short_script.js")
