.container {
    margin-top: 30px;
}

.display {
    text-align: center;
}

.slick-list {
    max-height: 400px;
}

.coverflow-item {
    img {
        width: 100%;
        @media screen and (min-width: 1200px) {
            transform: scale(0.8) translateY(-20%);
        }
    }
    .title {
        position: absolute;
        top: 80%;
        margin-left: 10px;
        font-size: 1.8em;
        color: white;
    }
}

.slick-arrow {
    background-color: #000;
    &:hover {
        background-color: #333;
    }
}