$buttonOffset: -60px;
$progress-bar-color: #3f51b5;
.container {
    margin-top: 30px;
}

.card.large {
    .card-image {
        max-height: 80%;
        .poster {
            transform: translateY(-40px);
        }
    }
    .card-content {
        max-height: 20%;
    }
}

.attribution {
    max-width: 100px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.next,
.previous {
    position: absolute;
    top: 45%;
}

.next {
    right: $buttonOffset;
}

.previous {
    left: $buttonOffset;
}

.btn.btn-large {
    padding: 0 1rem;
}

.nav-logged {
    font-weight: 300;
}

.username {
    font-weight: 500;
}

nav .brand-logo {
    @media screen and (min-width: 992px) {
        left: 10px;
    }
}

#widget {
    margin-top: 10px;
}

#album {
    height: 500px;
    overflow-y: scroll;
    @media screen and (max-width: 600px) {
        height: 200px;
    }
}

.toast {
    padding: 0;
    min-height: 0;
}

.success,
.problem {
    width: 100%;
    height: 100%;
    padding: 10px 25px;
}

.success {
    background-color: green;
}

.problem {
    background-color: red;
}

.hidden {
    // display: none;
    opacity: 0;
}

.tap-target-origin {
    list-style: none;
    @media screen and (max-width: 991px) {
        display: none;
    }
}

.tap-target-content {
    color: white;
}

.text-center {
    text-align: center;
}

#dismiss {
    cursor: pointer;
}