.container {
  margin-top: 30px;
}

.card.large .card-image {
  max-height: 80%;
}

.card.large .card-image .poster {
  transform: translateY(-40px);
}

.card.large .card-content {
  max-height: 20%;
}

.attribution {
  max-width: 100px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.next,
.previous {
  position: absolute;
  top: 45%;
}

.next {
  left: -60px;
}

.previous {
  right: -60px;
}

.btn.btn-large {
  padding: 0 1rem;
}

.nav-logged {
  font-weight: 300;
}

.username {
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  nav .brand-logo {
    left: 10px;
  }
}

#widget {
  margin-top: 10px;
}

#album {
  max-height: 500px;
  overflow-y: scroll;
}
